.disclamer1-title {
    background-color: #e4007c;
    color: white;
    text-decoration: underline;
}

.disclamer-title {
    background-color: purple;
    color: white;
    margin-left: 5rem;
    padding-left: 2rem;
}

.disclamer1-div {
    padding: 1rem;
    text-align: justify;
}

.disclamer-text {
    color:#e4007c;
    padding: 1rem;
}