  
  $white: rgba(255,255,255,0.3);
  
  .card-container {
    display: grid;
    padding: 40px;
    background-repeat:no-repeat;
    background-size: cover;
    margin: 50px;
   
  }

  .search-input {
   
      background: transparent;
      width: 600px;
      padding: 1em;
      margin-top: 2em;
      border: none;
      border-left: 1px solid $white;
      border-top: 1px solid $white;
      border-radius: 5000px;
      backdrop-filter: blur(5px);
      box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
      color: #e4007c;;
      font-family: Montserrat, sans-serif;
      font-weight: 500;
      transition: all 0.2s ease-in-out;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
      
      &:hover {
        background: rgba(255,255,255,0.1);
        box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
      }
      
      &[type="email"],
      &[type="password"] {
        
        &:focus {
          background: rgba(255,255,255,0.1);
          box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
        }
      }
  }
  
  
  
  